form {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 420px;
	margin: auto;
	padding: 20px;
	gap: 8px;
	background-color: var(--light-element);
	border: 1px solid var(--border);
	border-radius: 16px;
}

[for="username"],
[for="password"] {
	color: var(--text-primary);
	font-weight: 700;
	margin-bottom: 5px;
}

[for="password"] {
	margin-top: 20px;
}

#username,
#password {
	width: 100%;
	background-color: var(--main-background);
	border: 2px solid var(--button-bg);
	border-radius: 100px;
	padding: 12px 16px;
	font-size: 16px;
	color: var(--text-primary);
	transition: 0.3s ease;
}

#username:focus,
#password:focus {
	outline: none;
	border-color: var(--accent);
}

[value="Login"] {
	align-self: flex-end;
	margin-top: 30px;
	border: 2px solid var(--accent);
	background-color: var(--accent);
	color: var(--text-on-accent);
	font-size: 13px;
	font-weight: 700;
	padding: 10px 25px;
	border-radius: 100px;
	transition:
		background-color 0.3s ease,
		color 0.3s ease;
}

[value="Login"]:hover {
	cursor: pointer;
}

form:invalid [value="Login"] {
	border-color: var(--light-element);
	background-color: var(--light-element);
	color: var(--text-disabled);
	cursor: not-allowed;
}

form:invalid [value="Login"]:hover {
	cursor: not-allowed;
}
