{{ define "lang" }}ru{{ end }} {{ define "title" }}1941 Files Go{{ end }} {{
define "styles" }}
<link rel="stylesheet" href="/static/css/files/files.css" />
<link rel="stylesheet" href="/static/css/files/files_mobile.css" />
{{ end }} {{ define "content" }}
<div class="main_container">
	<div class="dropxout" id="dropArea">Drag and drop the file or click</div>
	<input type="file" id="fileInput" />
	<input type="hidden" id="csrfToken" value="{{ .CSRF }}" />
	<div class="files_container">
		{{ range .Files }}
		<div class="files_buttons_container">
			<button class="file-button" data-url="/{{ . }}">{{ . }}</button>
			<span class="copy-btn" data-filename="{{ . }}">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="20"
					height="20"
					viewBox="0 0 24 24"
					fill="none"
					stroke="currentColor"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round"
				>
					<rect x="9" y="9" width="13" height="13" rx="3" ry="3" />
					<path
						d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"
					/>
				</svg>
			</span>
		</div>
		{{ end }}
	</div>
</div>
<div id="progress-container">
	<div id="progress-bar">0%</div>
</div>
{{ end }} {{ define "scripts" }}
<script src="/static/js/files/script.js"></script>
{{ end }}
