{{ define "lang" }}en{{ end }} {{ define "title" }}Login{{ end }} {{ define
"styles" }}
<link rel="stylesheet" href="/static/css/login/login.css" />
{{ end }} {{ define "headerTitle" }}
<div class="title_1941">Login</div>
{{ end }} {{ define "content" }}
<form method="POST">
	<input type="hidden" name="csrf_token" value="{{ .CSRF }}" />
	<label for="username">Username:</label>
	<input type="text" id="username" name="username" required />

	<label for="password">Password:</label>
	<input type="password" id="password" name="password" required />

	<input type="submit" value="Login" />
</form>
{{ end }}
